// Main container

body > main {
  min-height: calc(100vh - 54px); // Viewport height minus medium screen navbar height, to push footer to bottom
  padding-bottom: $grid-gutter-width; 
  background-color: #F6FFF8 !important; // Light mint cream background
}