.navbar {
  background-color: #F6FFF8!important;
  border-bottom: 1px solid $gray-200;
  padding-top: 0rem;    // ← reduce top space
  padding-bottom: 0rem; // ← reduce bottom space

  .navbar-brand {
    font-weight: bold;
    color: #617c70;
    img {
      width: auto;  // adjust to your preferred size
      height: 80px;  // keeps the aspect ratio correct
    }
  }

  // Remove border on .dropdown-menu when .navbar is collapsed
  @include media-breakpoint-down(lg) {
    .dropdown-menu {
      border: none;
      padding-top: 0;
    }
  }

    .dropdown-item {
      color: #617c70;
    &:hover {
      color: darken(#617c70, 15%);
      background-color: #eaf4f4; // azure mist on hover
    }
  }

  .navbar-toggler {
    font-size: 90%;
    padding: 10px;
    text-transform: uppercase;
  }
}